$squeareSide: 300px;
$hugeSquareSide: 700px;
$baseTextColor: #777777;
$greyColor: #cccccc;
$whiteColor: #ffffff;
$blackColor: #000000;
$greenColor: #008000;
$redColor: #ff0000;
$boldFontWeight: 900;
$backroundSiceCover: cover;
$fullWidth: 100%;
